@font-face {
    font-family: 'Akira';
    src: url("../fonts/Akira.otf") format("opentype");
}

:root {
    --off-white: #FFF;
    --colour-schema-foreground: rgba(249,184,23,0.33);
    --colour-schema-outline: #F9B817;
    --unify-black: #231F20;
}

body {
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #FFF;
    opacity: 0.6;
  }
  
  /* visited link */
  a:visited {
    color: #FFF;
  }
  
  /* mouse over link */
  a:hover {
    color: #FFF;
    opacity: 1;
  }
  
  /* selected link */
  a:active {
    color: #FFF;
  }

a:visited {
    color: var(--off-white);
}

.profile-cell a {
    opacity: 1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    display: block;
    width: calc(83vw + 5px);
    /* margin: 0 auto; */
    margin-left: calc( 17vw - 5px);
    height: auto;
    background: var(--unify-black);
}

aside {
    width: 17%;
    min-width: 260px;
    max-width: 450px;
    height: 100vh;
    background: rgba(24 24 24 / 100%);
    color: white;
    position: fixed;
    left: 0;
}

aside ul {
    height: 40vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: 2px;
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding-top: 4em;
}

aside ul li {
    color: var(--off-white);
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0.7em;
}

aside ul li:hover {
    opacity: 1;
}

.logo-container {
    position: relative; 
    width: 140px;
    margin: 0 auto;
    height: 55vh; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.footer {
    margin-top: 15em;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: #141213;
    overflow-x: hidden;
}

.white-text{
    text-align: center;
    margin-right: 30%;
    opacity: 0.6;
}

.white-text p {
    opacity: 0.6;
}

.white-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.6;
}

.inactive {
    filter: grayscale();
}

.video-wrapper {
    position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
.footer img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    opacity: 0.6;
}


aside ul li img {
    display: block;
    vertical-align: bottom;
    margin: auto 0;
    width: 80%;
    padding-bottom: 2em;
    align-self: end;
    opacity: 0.2;
}

.hero {
    width: 100%;
    margin-bottom: -5em;
}

h1,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--off-white);
    padding-top: 0.3em;
    text-transform: lowercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
    letter-spacing: 1.5px;
    text-transform: lowercase;
}

h1 {
    font-size: 3em;
    letter-spacing: 1.5px;
}

p > a {
    font-weight: 600;
    opacity: 1 !important;
}

p > span {
    font-weight: 600;
    opacity: 1 !important;
}

.active {
    opacity: 0.8 !important;
}

.active:hover {
    opacity: 1;
}


.projects-selector {
    display: block;
    margin-left: -30px;
    margin-right: -25px;
}

#all:hover {
    fill: #592412 !important;
}

#branding:hover {
    fill: #87471D !important;
}

#interactive:hover {
    fill: #560F2D !important;
}

#data:hover {
    fill: #560F2D !important;
}

#mobile:hover {
    fill: #592412 !important;
}

#packaging:hover {
    fill: #2F5C5B !important;
}

#publication:hover {
    fill: #2F5C5B !important;
}

#vr:hover {
    fill: #062C35 !important;
}

#webdev:hover {
    fill: #87471D !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}

.content {
    display: block;
    margin: 0 auto;
    width: calc(80% - 0em);
    max-width: 900px;
}

.cell {
    display: inline-block;
    width: calc((100% / 3) - 6%);
    margin: 0 auto;
    user-select: none;
    padding-left: 2%;
    padding-right: 2%;
}

#preloader {
    display: absolute;
    display: none;
    background-image: url(../images/eden-hover.png);
}

.profile-cell {
    display: inline-block;
    width: calc((100% / 3) - 6%);
    min-width: 200px;
    max-width: 600px;
    margin: 2% 2%;
    user-select: none;
}

.profile-cell img {
    width: 100%;
}

#preload::after {
    background: url(../images/eden-hover.png);
    background: url(../images/ezra-hover.png);
    background: url(../images/jasmine-hover.png);
    background: url(../images/josh-hover.png);
    background: url(../images/salma-hover.png);
}


#eden:hover {
    background: no-repeat url(../images/eden-hover.png) 100% / 100%;
}

#eden:hover>img {
    opacity: 0;
}


#ezra:hover {
    background: no-repeat url(../images/ezra-hover.png) 100% / 100%;
}

#ezra:hover>img {
    opacity: 0;
}

#jasmine:hover {
    background: no-repeat url(../images/jasmine-hover.png) 100% / 100%;
}

#jasmine:hover>img {
    opacity: 0;
}

#josh:hover {
    background: no-repeat url(../images/josh-hover.png) 100% / 100%;
}

#josh:hover>img {
    opacity: 0;
}

#salma:hover {
    opacity: 1;
    background: no-repeat url(../images/salma-hover.png) 100% / 100%;
}

#salma:hover>a>img {
    opacity: 0;
}



.profile-bar {
    background: none;
    color: white;

}

.profile-content {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

.profile-content h1 {
    margin-left: 0;
    padding-left: 0;
}

h1.first-name {
    margin-bottom: 0;
    padding-top: 0.3em;
    padding-bottom: 0;
}

h1.last-name {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}


.profile-bar img {
    left: 0;
    display: block;
    width:40%;
}

.profile-bar ul {
    padding-top: 1em;
    width: 90%;
    list-style-type: none;
    list-style: none;
    border: none;
    padding-left: 0;
}

.profile-bar ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    opacity: 1;
    margin: 10px;
    font-size: 20px;

}

.profile-bar ul li a {
    margin-top: 2em;
}

.profile-bar ul li span {
    font-weight: bold;
}

p+h2 {
    margin-top: 3em;
}

iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.project {
    width: 100%;
    border-top: #FFF solid 1px;
    padding-top: 1em;
}

.project-photo {
    display: block;
}

.project p, .project h2{
    opacity: 0.8;
}

.project h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;

    font-weight: 400;
}

.project-photo img{
    height: 180px;
    float: left;
    margin-right: 2em;
}

button {
    width: auto;
    background-color: rgba(0 0 0 / 0);
    border-radius: 1000px;
    border: none;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 18px;
}

.sidebar-logo{
    
    padding-top: 5vh;
}

#lottie {
    padding-top: 2%;
    width: 80%;
    display: block;
    margin: 0 auto;
}

aside.profile-bar+main {
    width: 52%;
}

@media only screen and (min-width: 600px) {
    .menu-mobile {
        display: none;
    }

    #lottie {
        min-height: 400px;
    }

    .page-profile {
        margin-left: -50% !important;
    }

}

@media only screen and (max-width: 750px) {
    .project-photo img {
        width: 100% !important;
        height: auto;
        padding-bottom: 1em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1000px) {
    aside {
        display: none;
    }

    .content {
        width: 90%;
    }

    main {
        width: 100%;
        margin-left: 0;
    }

    #lottie {
        min-height: 100px;
    }

    .cell {
        display: inline-block;
        width: calc((90% / 2));
        margin: 0 auto;
        user-select: none;
        margin: 0 auto;
    }

    .menu-mobile {
        display: block;
        margin: 0;
        width: 100vw;
        height: auto;
        padding-bottom: 1em;
        text-decoration: none;
        background-color: #000;
    }

    .menu-mobile ul {
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-transform: lowercase;
        display: table;
        margin: 0 auto;
        list-style-type: none;
        padding-top: 1em;
    }

    .menu-mobile ul li {
        padding-top: 10px;
    }

    h1 {
        font-size: 2em;
    }

    .profile-cell {
        display: inline-block;
        width: calc((100% / 2) - 6%);
        max-width: 600px;
        margin: 2% 2%;
        user-select: none;
        min-width: 100px;
    }

    .profile-content {
        width: 90vw;
        padding: 5vw;
    }

    .footer {
        margin-top: 5em;
        width: 100%;
        height: auto;
        min-height: 100px;
        background-color: #141213;
        overflow-x: hidden;
    }
    
    .white-text{
        text-align: center;
        margin-right: 30%;
        opacity: 0.6;
    }

    .content-label img{
        width: 100px;
    }
    
    .white-text p {
        opacity: 0.6;
        font-size: 14px;
    }
    
    .white-text h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        opacity: 0.6;
    }

    .page-profile {
        margin-left: 0;
    }

}

.footer span.white-text p {
    line-height: 0.8em;;
}