@font-face {
    font-family: 'Akira';
    src: url("../fonts/Akira.otf") format("opentype");
}

:root {
    --off-white: #FFF;

}

a:link {
    text-decoration: none;
    opacity: 0.7;
}

a:visited {
    color: var(--off-white);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    display: block;
    width: 78%;
    /* margin: 0 auto; */
    height: 300vh;
    background: none;
}

aside {
    width: 22%;
    min-width: 220px;
    max-width: 450px;
    height: 300vh;
    background: rgb(24 24 24 / 77%);
    color: white;
    position: fixed;
    right: 0;
}

aside ul {
    font-family: 'AKira', sans-serif;
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding-top: 6em;
}

aside ul li {
    color: var(--off-white);
    font-size: 1.6em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 0.8em;
    opacity: 0.6;
}

aside ul li:hover {
    opacity: 1;
}


aside ul li img {
    display: none;
    vertical-align: bottom;
    margin: auto 0;
    width: 80%;
    padding-bottom: 2em;
    align-self: end;
}

.hero {
    width: 100%;
    margin-bottom: -5em;
}

h1,
h3,
h4 {
    font-family: 'Akira';
    color: var(--off-white);
    padding-top: 0.3em;
    text-transform: uppercase;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
}


.projects-selector {
    display: block;
    margin-left: -30px;
    margin-right: -25px;
}

#all:hover {
    fill: #592412 !important;
}

#branding:hover {
    fill: #87471D !important;
}

#interactive:hover {
    fill: #560F2D !important;
}

#data:hover {
    fill: #560F2D !important;
}

#mobile:hover {
    fill: #592412 !important;
}

#packaging:hover {
    fill: #2F5C5B !important;
}

#publication:hover {
    fill: #2F5C5B !important;
}

#vr:hover {
    fill: #062C35 !important;
}

#webdev:hover {
    fill: #87471D !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}

.content {
    display: block;
    margin: 0 auto;
    width: calc(80% - 0em);
    max-width: 900px;
}

.cell {
    display: inline-block;
    width: calc((100% / 3) - 6%);
    min-width: 200px;
    margin: auto;
    user-select: none;
    padding-left: 2%;
    padding-right: 2%;
}

#preloader {
    display: absolute;
    display: none;
    background-image: url(../images/eden-hover.png);
}

.profile-cell {
    display: inline-block;
    width: calc((100% / 3) - 6%);
    min-width: 200px;
    max-width: 600px;
    margin: 2% 2%;
    user-select: none;
}

.profile-cell img {
    width: 100%;
}

#preload {
    display: none;
    background: url(../images/eden-hover.png);
    background: url(../images/ezra-hover.png);
    background: url(../images/jasmine-hover.png);
}


#eden:hover{
    background: no-repeat url(../images/eden-hover.png) 100% / 100%;
}

#eden:hover > img {
    opacity: 0;
}


#ezra:hover{
    background: no-repeat url(../images/ezra-hover.png) 100% / 100%;
}

#ezra:hover > img {
    opacity: 0;
}

#jasmine:hover{
    background: no-repeat url(../images/jasmine-hover.png) 100% / 100%;
}

#jasmine:hover > img {
    opacity: 0;
}

#josh:hover{
    background: no-repeat url(../images/josh-hover.png) 100% / 100%;
}

#josh:hover > img {
    opacity: 0;
}

#salma:hover{
    background: no-repeat url(../images/salma-hover.png) 100% / 100%;
}

#salma:hover > img {
    opacity: 0;
}



.profile-bar {
    width: 30%;
    min-width: 220px;
    max-width: 450px;
    height: 300vh;
    background: none;
    color: white;
    position: relative;
    left: 0;
}

.profile-content {
    display: block;
    margin: 0;
    width: 65%;
    max-width: 900px;
}

.profile-content h1 {
    margin-left: 0;
    padding-left: 0;
}

h1.first-name {
    margin-bottom: 0;
    padding-top: 0.3em;
    padding-bottom: 0; 
}

h1.last-name {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}


.profile-bar img {
    padding-top: 5em;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.profile-bar ul {
    padding-top: 1em;
    width: 80%;
}

.profile-bar ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    opacity: 1;
    margin: 10px;
    font-size: 20px;

}

.profile-bar ul li a{
    margin-top: 2em;
}

.profile-bar ul li span {
    font-weight: bold;
}

p + h2 {
    margin-top: 3em;
}